.btn:focus, .btn-shorten:focus{
  outline: 0 !important;
}

html,
body {
  height: 100%;
  transition: all 1000ms linear;
}

body {
  color: black;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background: #FF6969;
}

.container {
  margin-top: 80px;
}

.input-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.orig {
  word-wrap: break-word;
}

#git a{
  font-size: 60px;
  color: black;
}

.oneBg,
.oneBg-add.oneBg-add-active {
    background-color: #FF6969;
}
.twoBg,
.twoBg-add.twoBg-add-active {
    background-color: #E85FA2;
}
.threeBg,
.threeBg-add.threeBg-add-active {
    background-color: #FF76FD;
}
.fourBg,
.fourBg-add.fourBg-add-active {
    background-color: #C45FE8;
}
