<div class="container" [ngClass]="bgColor">
  <h1>URL Shortener</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-centered">
      <div class="input-group input-group-lg">
        <input id="url-field" type="text" class="form-control" placeholder="Paste your link..." [(ngModel)]="urlData.long">
        <span class="input-group-btn">
          <button (click)="shorten()" class="btn btn-shorten" type="button">SHORTEN</button>
        </span>
      </div>
    </div>
  </div>
  <div class="row orig">
    <div class="col-md-3 col-md-offset-1">
        <h3>Original URL:</h3>
    </div>
    <div class="col-md-5">
      <h3>{{ urlData.long }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
        <h3>New, tidy URL:</h3>
    </div>
    <div class="col-md-6">
        <a id="shortlink" href="{{urlData.short}}" target="_blank"><h3>{{ urlData.short }}  <i *ngIf="urlData.short.length > 0" class="fas fa-external-link-alt"></i></h3></a>
    </div>
  </div>
  <div class="row justify-content-center" id="git">
    <div class="col">
      <a href="https://github.com/abvita/url-shortener" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
</div>
