.btn:focus, .btn-shorten:focus{
    outline: 0 !important;
  }

a {
  color: black;
}
  
body {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding-top: 70px;
  height:100vh;
  width:100%;
  transition: all 1000ms linear;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background: #175CE8;
  min-height: 100%;
}

.input-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.orig {
  word-wrap: break-word;
}

#footer {
  padding-top: 60px;
  font-size: 15px;
}

.oneBg,
.oneBg-add.oneBg-add-active {
    background-color: #175CE8;
}
.twoBg,
.twoBg-add.twoBg-add-active {
    background-color: #19A2FF;
}
.threeBg,
.threeBg-add.threeBg-add-active {
    background-color: #2736FF;
}
.fourBg,
.fourBg-add.fourBg-add-active {
    background-color: #4217E8;
}

#footer {
  font-size: 15px;
}

// GitHub Corner Link Styles
// from http://tholman.com/github-corners/
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

  0%,
  100% {
      transform: rotate(0)
  }

  20%,
  60% {
      transform: rotate(-25deg)
  }

  40%,
  80% {
      transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
      animation: none
  }

  .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
  }
}